*~
.*~
/progrape/demo/util/3plot
/progrape/.libpgmgr
/progrape/.b3drv*
/progrape/.tmp_versions
/progrape/demo/herm2/x
/progrape/demo/grav1/pgr/x
/progrape/demo/pwise/pgr/xxx
/progrape/demo/pwise/pgr/zzzzz
/progrape/test
/progrape/pci64/proj/pci_lc_i.ngo
/progrape/pci64/proj/proj_ise6_bak.zip

