//! **************************************************************************
// Written by: Map 1.1 on Mon Nov 20 23:12:06 2006
//! **************************************************************************

SCHEMATIC START;
COMP "FPGA_NO<2>" LOCATE = SITE "A24" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "C25" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "B25" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "B26" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "A26" LEVEL 1;
COMP "RST" LOCATE = SITE "Y1" LEVEL 1;
COMP "DBUS<10>" LOCATE = SITE "AF2" LEVEL 1;
COMP "DBUS<11>" LOCATE = SITE "AG1" LEVEL 1;
COMP "DBUS<20>" LOCATE = SITE "AK8" LEVEL 1;
COMP "DBUS<12>" LOCATE = SITE "AG3" LEVEL 1;
COMP "DBUS<21>" LOCATE = SITE "AH10" LEVEL 1;
COMP "DBUS<13>" LOCATE = SITE "AJ5" LEVEL 1;
COMP "DBUS<30>" LOCATE = SITE "AK13" LEVEL 1;
COMP "DBUS<22>" LOCATE = SITE "AJ10" LEVEL 1;
COMP "DBUS<14>" LOCATE = SITE "AH6" LEVEL 1;
COMP "DBUS<31>" LOCATE = SITE "AH17" LEVEL 1;
COMP "DBUS<23>" LOCATE = SITE "AH11" LEVEL 1;
COMP "DBUS<15>" LOCATE = SITE "AJ6" LEVEL 1;
COMP "DBUS<40>" LOCATE = SITE "AH21" LEVEL 1;
COMP "DBUS<32>" LOCATE = SITE "AJ17" LEVEL 1;
COMP "DBUS<24>" LOCATE = SITE "AJ11" LEVEL 1;
COMP "DBUS<16>" LOCATE = SITE "AH7" LEVEL 1;
COMP "DBUS<41>" LOCATE = SITE "AJ21" LEVEL 1;
COMP "DBUS<33>" LOCATE = SITE "AJ18" LEVEL 1;
COMP "DBUS<25>" LOCATE = SITE "AK11" LEVEL 1;
COMP "DBUS<17>" LOCATE = SITE "AJ7" LEVEL 1;
COMP "DBUS<50>" LOCATE = SITE "AH25" LEVEL 1;
COMP "DBUS<42>" LOCATE = SITE "AJ22" LEVEL 1;
COMP "DBUS<34>" LOCATE = SITE "AK18" LEVEL 1;
COMP "DBUS<26>" LOCATE = SITE "AH12" LEVEL 1;
COMP "DBUS<18>" LOCATE = SITE "AH8" LEVEL 1;
COMP "DBUS<51>" LOCATE = SITE "AJ25" LEVEL 1;
COMP "DBUS<43>" LOCATE = SITE "AK22" LEVEL 1;
COMP "DBUS<35>" LOCATE = SITE "AH19" LEVEL 1;
COMP "DBUS<27>" LOCATE = SITE "AJ12" LEVEL 1;
COMP "DBUS<19>" LOCATE = SITE "AJ8" LEVEL 1;
COMP "DBUS<60>" LOCATE = SITE "AE29" LEVEL 1;
COMP "DBUS<52>" LOCATE = SITE "AJ26" LEVEL 1;
COMP "DBUS<44>" LOCATE = SITE "AH23" LEVEL 1;
COMP "DBUS<36>" LOCATE = SITE "AK19" LEVEL 1;
COMP "DBUS<28>" LOCATE = SITE "AK12" LEVEL 1;
COMP "DBUS<61>" LOCATE = SITE "AB30" LEVEL 1;
COMP "DBUS<53>" LOCATE = SITE "AK26" LEVEL 1;
COMP "DBUS<45>" LOCATE = SITE "AJ23" LEVEL 1;
COMP "DBUS<37>" LOCATE = SITE "AH20" LEVEL 1;
COMP "DBUS<29>" LOCATE = SITE "AJ13" LEVEL 1;
COMP "DBUS<62>" LOCATE = SITE "AD29" LEVEL 1;
COMP "DBUS<54>" LOCATE = SITE "AH27" LEVEL 1;
COMP "DBUS<46>" LOCATE = SITE "AK23" LEVEL 1;
COMP "DBUS<38>" LOCATE = SITE "AJ20" LEVEL 1;
COMP "DBUS<63>" LOCATE = SITE "AD30" LEVEL 1;
COMP "DBUS<55>" LOCATE = SITE "AG29" LEVEL 1;
COMP "DBUS<47>" LOCATE = SITE "AH24" LEVEL 1;
COMP "DBUS<39>" LOCATE = SITE "AK20" LEVEL 1;
COMP "DBUS<56>" LOCATE = SITE "AG30" LEVEL 1;
COMP "DBUS<48>" LOCATE = SITE "AJ24" LEVEL 1;
COMP "DBUS<57>" LOCATE = SITE "AF29" LEVEL 1;
COMP "DBUS<49>" LOCATE = SITE "AK24" LEVEL 1;
COMP "DBUS<58>" LOCATE = SITE "AF30" LEVEL 1;
COMP "DBUS<59>" LOCATE = SITE "AC29" LEVEL 1;
COMP "CBUS<0>" LOCATE = SITE "AK5" LEVEL 1;
COMP "CBUS<1>" LOCATE = SITE "W1" LEVEL 1;
COMP "CBUS<2>" LOCATE = SITE "W2" LEVEL 1;
COMP "CBUS<3>" LOCATE = SITE "V1" LEVEL 1;
COMP "CBUS<4>" LOCATE = SITE "V2" LEVEL 1;
COMP "CBUS<5>" LOCATE = SITE "U2" LEVEL 1;
COMP "CBUS<6>" LOCATE = SITE "T2" LEVEL 1;
COMP "CBUS<7>" LOCATE = SITE "AK7" LEVEL 1;
COMP "DBUS<0>" LOCATE = SITE "AB1" LEVEL 1;
COMP "DBUS<1>" LOCATE = SITE "AB2" LEVEL 1;
COMP "DBUS<2>" LOCATE = SITE "AC2" LEVEL 1;
COMP "DBUS<3>" LOCATE = SITE "AC3" LEVEL 1;
COMP "DBUS<4>" LOCATE = SITE "AD1" LEVEL 1;
COMP "DBUS<5>" LOCATE = SITE "AD2" LEVEL 1;
COMP "DBUS<6>" LOCATE = SITE "AD3" LEVEL 1;
COMP "DBUS<7>" LOCATE = SITE "AE2" LEVEL 1;
COMP "DBUS<8>" LOCATE = SITE "AE3" LEVEL 1;
COMP "DBUS<9>" LOCATE = SITE "AF1" LEVEL 1;
COMP "CK66" LOCATE = SITE "AK16" LEVEL 1;
PIN u2/u0/unit9/u2/uram0.A_pins<53> = BEL "u2/u0/unit9/u2/uram0.A" PINNAME
        CLKA;
PIN u2/u0/unit9/u2/uram1.A_pins<53> = BEL "u2/u0/unit9/u2/uram1.A" PINNAME
        CLKA;
PIN u2/u0/unit9/u2/uram2.A_pins<53> = BEL "u2/u0/unit9/u2/uram2.A" PINNAME
        CLKA;
PIN u2/u0/unit9/u2/uram3.A_pins<53> = BEL "u2/u0/unit9/u2/uram3.A" PINNAME
        CLKA;
PIN u2/u0/unit9/u1/uram0.A_pins<53> = BEL "u2/u0/unit9/u1/uram0.A" PINNAME
        CLKA;
PIN u2/u0/unit9/u1/uram1.A_pins<53> = BEL "u2/u0/unit9/u1/uram1.A" PINNAME
        CLKA;
PIN u2/u0/unit9/u1/uram2.A_pins<53> = BEL "u2/u0/unit9/u1/uram2.A" PINNAME
        CLKA;
PIN u2/u0/unit9/u1/uram3.A_pins<53> = BEL "u2/u0/unit9/u1/uram3.A" PINNAME
        CLKA;
PIN u2/u0/unit9/u0/uram0.A_pins<53> = BEL "u2/u0/unit9/u0/uram0.A" PINNAME
        CLKA;
PIN u2/u0/unit9/u0/uram1.A_pins<53> = BEL "u2/u0/unit9/u0/uram1.A" PINNAME
        CLKA;
PIN u2/u0/unit9/u0/uram2.A_pins<53> = BEL "u2/u0/unit9/u0/uram2.A" PINNAME
        CLKA;
PIN u2/u0/unit9/u0/uram3.A_pins<53> = BEL "u2/u0/unit9/u0/uram3.A" PINNAME
        CLKA;
TIMEGRP dcm0_dcm_out = BEL "LED_ff_0" BEL "LED_ff_1" BEL "LED_ff_2" BEL
        "DBUS_Port_ff_0" BEL "DBUS_Port_ff_1" BEL "DBUS_Port_ff_2" BEL
        "DBUS_Port_ff_3" BEL "DBUS_Port_ff_4" BEL "DBUS_Port_ff_5" BEL
        "DBUS_Port_ff_6" BEL "DBUS_Port_ff_7" BEL "DBUS_Port_ff_8" BEL
        "DBUS_Port_ff_9" BEL "DBUS_Port_ff_10" BEL "DBUS_Port_ff_11" BEL
        "DBUS_Port_ff_12" BEL "DBUS_Port_ff_13" BEL "DBUS_Port_ff_14" BEL
        "DBUS_Port_ff_15" BEL "DBUS_Port_ff_16" BEL "DBUS_Port_ff_17" BEL
        "DBUS_Port_ff_18" BEL "DBUS_Port_ff_19" BEL "DBUS_Port_ff_20" BEL
        "DBUS_Port_ff_21" BEL "DBUS_Port_ff_22" BEL "DBUS_Port_ff_23" BEL
        "DBUS_Port_ff_24" BEL "DBUS_Port_ff_25" BEL "u1/u4/DBUS_HiZ" BEL
        "u1/u4/en2" BEL "u1/u4/en3" BEL "u1/u0/u0/state_ff_FFd1" BEL
        "u1/u0/u0/state_ff_FFd2" BEL "Mshreg_u1/u4/en1/SRL16E" BEL "u1/u4/en1"
        BEL "u0/ena1" BEL "u0/MEM_DATA_0" BEL "u0/MEM_DATA_1" BEL
        "u0/MEM_DATA_2" BEL "u0/MEM_DATA_3" BEL "u0/MEM_DATA_4" BEL
        "u0/MEM_DATA_5" BEL "u0/MEM_DATA_6" BEL "u0/MEM_DATA_7" BEL
        "u0/MEM_DATA_8" BEL "u0/MEM_DATA_9" BEL "u0/MEM_DATA_10" BEL
        "u0/MEM_DATA_11" BEL "u0/MEM_DATA_12" BEL "u0/MEM_DATA_13" BEL
        "u0/MEM_DATA_14" BEL "u0/MEM_DATA_15" BEL "u0/MEM_DATA_16" BEL
        "u0/MEM_DATA_17" BEL "u0/MEM_DATA_18" BEL "u0/MEM_DATA_19" BEL
        "u0/MEM_DATA_20" BEL "u0/MEM_DATA_21" BEL "u0/MEM_DATA_22" BEL
        "u0/MEM_DATA_23" BEL "u0/MEM_DATA_24" BEL "u0/MEM_DATA_25" BEL
        "u0/MEM_DATA_26" BEL "u0/MEM_DATA_27" BEL "u0/MEM_DATA_28" BEL
        "u0/MEM_DATA_29" BEL "u0/MEM_DATA_30" BEL "u0/MEM_DATA_31" BEL
        "u0/MEM_DATA_32" BEL "u0/MEM_DATA_33" BEL "u0/MEM_DATA_34" BEL
        "u0/MEM_DATA_35" BEL "u0/MEM_DATA_36" BEL "u0/MEM_DATA_37" BEL
        "u0/MEM_DATA_38" BEL "u0/MEM_DATA_39" BEL "u0/MEM_DATA_40" BEL
        "u0/MEM_DATA_41" BEL "u0/MEM_DATA_42" BEL "u0/MEM_DATA_43" BEL
        "u0/MEM_DATA_44" BEL "u0/MEM_DATA_45" BEL "u0/MEM_DATA_46" BEL
        "u0/MEM_DATA_47" BEL "u0/MEM_DATA_48" BEL "u0/MEM_DATA_49" BEL
        "u0/MEM_DATA_50" BEL "u0/MEM_DATA_51" BEL "u0/MEM_DATA_52" BEL
        "u0/MEM_DATA_53" BEL "u0/MEM_DATA_54" BEL "u0/MEM_DATA_55" BEL
        "u0/MEM_DATA_56" BEL "u0/MEM_DATA_57" BEL "u0/MEM_DATA_58" BEL
        "u0/MEM_DATA_59" BEL "u0/MEM_DATA_60" BEL "u0/MEM_DATA_61" BEL
        "u0/MEM_DATA_62" BEL "u0/MEM_DATA_63" BEL "u0/MEM_WE" BEL "u0/acnt_0"
        BEL "u0/acnt_1" BEL "u0/acnt_2" BEL "u0/acnt_3" BEL "u0/acnt_4" BEL
        "u0/acnt_5" BEL "u0/acnt_6" BEL "u0/acnt_7" BEL "u0/acnt_8" BEL
        "u0/acnt_9" BEL "u0/acnt_10" BEL "u0/acnt_11" BEL "u0/acnt_12" BEL
        "u0/acnt_13" BEL "u0/acnt_14" BEL "u0/acnt_15" BEL "u0/acnt_16" BEL
        "u0/acnt_17" BEL "u0/acnt_18" BEL "u0/MEM_ADR_0" BEL "u0/MEM_ADR_1"
        BEL "u0/MEM_ADR_2" BEL "u0/MEM_ADR_3" BEL "u0/MEM_ADR_4" BEL
        "u0/MEM_ADR_5" BEL "u0/MEM_ADR_6" BEL "u0/MEM_ADR_7" BEL
        "u0/MEM_ADR_8" BEL "u0/MEM_ADR_9" BEL "u0/MEM_ADR_10" BEL
        "u0/MEM_ADR_11" BEL "u0/MEM_ADR_12" BEL "u0/MEM_ADR_13" BEL
        "u0/MEM_ADR_14" BEL "u0/MEM_ADR_15" BEL "u0/MEM_ADR_16" BEL
        "u0/MEM_ADR_17" BEL "u0/MEM_ADR_18" BEL "u2/u0/STS" BEL
        "u2/u0/unit8/nreg_0" BEL "u2/u0/unit8/nreg_1" BEL "u2/u0/unit8/nreg_2"
        BEL "u2/u0/unit8/nreg_3" BEL "u2/u0/unit8/nreg_4" BEL
        "u2/u0/unit8/nreg_5" BEL "u2/u0/unit8/nreg_6" BEL "u2/u0/unit8/nreg_7"
        BEL "u2/u0/unit8/nreg_8" BEL "u2/u0/unit8/nreg_9" BEL
        "u2/u0/unit8/nreg_10" BEL "u2/u0/unit8/nreg_11" BEL
        "u2/u0/unit8/nreg_12" BEL "u2/u0/unit8/nreg_13" BEL
        "u2/u0/unit8/nreg_14" BEL "u2/u0/unit8/nreg_15" BEL
        "u2/u0/unit8/nreg_16" BEL "u2/u0/unit8/nreg_17" BEL
        "u2/u0/unit2/start_r" BEL "u2/u0/unit2/rstn_0" PIN
        "u2/u0/unit9/u2/uram0.A_pins<53>" PIN
        "u2/u0/unit9/u2/uram1.A_pins<53>" PIN
        "u2/u0/unit9/u2/uram2.A_pins<53>" PIN
        "u2/u0/unit9/u2/uram3.A_pins<53>" PIN
        "u2/u0/unit9/u1/uram0.A_pins<53>" PIN
        "u2/u0/unit9/u1/uram1.A_pins<53>" PIN
        "u2/u0/unit9/u1/uram2.A_pins<53>" PIN
        "u2/u0/unit9/u1/uram3.A_pins<53>" PIN
        "u2/u0/unit9/u0/uram0.A_pins<53>" PIN
        "u2/u0/unit9/u0/uram1.A_pins<53>" PIN
        "u2/u0/unit9/u0/uram2.A_pins<53>" PIN
        "u2/u0/unit9/u0/uram3.A_pins<53>" BEL "u1/u1/u0/START_ADR_0" BEL
        "u1/u1/u0/START_ADR_1" BEL "u1/u1/u0/START_ADR_2" BEL
        "u1/u1/u0/START_ADR_3" BEL "u1/u1/u0/START_ADR_4" BEL
        "u1/u1/u0/START_ADR_5" BEL "u1/u1/u0/START_ADR_6" BEL
        "u1/u1/u0/START_ADR_7" BEL "u1/u1/u0/START_ADR_8" BEL
        "u1/u1/u0/START_ADR_9" BEL "u1/u1/u0/START_ADR_10" BEL
        "u1/u1/u0/START_ADR_11" BEL "u1/u1/u0/START_ADR_12" BEL
        "u1/u1/u0/START_ADR_13" BEL "u1/u1/u0/START_ADR_14" BEL
        "u1/u1/u0/START_ADR_15" BEL "u1/u1/u0/START_ADR_16" BEL
        "u1/u1/u0/START_ADR_17" BEL "u1/u1/u0/START_ADR_18" BEL
        "u1/u2/u0/mem_adr_inc_0" BEL "u1/u2/u0/mem_adr_inc_1" BEL
        "u1/u2/u0/mem_adr_inc_2" BEL "u1/u2/u0/mem_adr_inc_3" BEL
        "u1/u2/u0/mem_adr_inc_4" BEL "u1/u2/u0/mem_adr_inc_5" BEL
        "u1/u2/u0/mem_adr_inc_6" BEL "u1/u2/u0/mem_adr_inc_7" BEL
        "u1/u2/u0/mem_adr_inc_8" BEL "u1/u2/u0/mem_adr_inc_9" BEL
        "u1/u2/u0/mem_adr_inc_10" BEL "u1/u2/u0/mem_adr_inc_11" BEL
        "u1/u2/u0/mem_adr_inc_12" BEL "u1/u2/u0/mem_adr_inc_13" BEL
        "u1/u2/u0/mem_adr_inc_14" BEL "u1/u2/u0/mem_adr_inc_15" BEL
        "u1/u2/u0/mem_adr_inc_16" BEL "u1/u2/u0/mem_adr_inc_17" BEL
        "u1/u2/u0/mem_adr_inc_18" BEL "u1/u2/u0/MEM_ADR_0" BEL
        "u1/u2/u0/MEM_ADR_1" BEL "u1/u2/u0/MEM_ADR_2" BEL "u1/u2/u0/MEM_ADR_3"
        BEL "u1/u2/u0/MEM_ADR_4" BEL "u1/u2/u0/MEM_ADR_5" BEL
        "u1/u2/u0/MEM_ADR_6" BEL "u1/u2/u0/MEM_ADR_7" BEL "u1/u2/u0/MEM_ADR_8"
        BEL "u1/u2/u0/MEM_ADR_9" BEL "u1/u2/u0/MEM_ADR_10" BEL
        "u1/u2/u0/MEM_ADR_11" BEL "u1/u2/u0/MEM_ADR_12" BEL
        "u1/u2/u0/MEM_ADR_13" BEL "u1/u2/u0/MEM_ADR_14" BEL
        "u1/u2/u0/MEM_ADR_15" BEL "u1/u2/u0/MEM_ADR_16" BEL
        "u1/u2/u0/MEM_ADR_17" BEL "u1/u2/u0/MEM_ADR_18" BEL
        "u2/u0/unit1/upipe0/p_datao_25" BEL "u2/u0/unit1/upipe0/p_datao_24"
        BEL "u2/u0/unit1/upipe0/p_datao_23" BEL
        "u2/u0/unit1/upipe0/p_datao_22" BEL "u2/u0/unit1/upipe0/p_datao_21"
        BEL "u2/u0/unit1/upipe0/p_datao_20" BEL
        "u2/u0/unit1/upipe0/p_datao_19" BEL "u2/u0/unit1/upipe0/p_datao_18"
        BEL "u2/u0/unit1/upipe0/p_datao_17" BEL
        "u2/u0/unit1/upipe0/p_datao_16" BEL "u2/u0/unit1/upipe0/p_datao_15"
        BEL "u2/u0/unit1/upipe0/p_datao_14" BEL
        "u2/u0/unit1/upipe0/p_datao_13" BEL "u2/u0/unit1/upipe0/p_datao_12"
        BEL "u2/u0/unit1/upipe0/p_datao_11" BEL
        "u2/u0/unit1/upipe0/p_datao_10" BEL "u2/u0/unit1/upipe0/p_datao_9" BEL
        "u2/u0/unit1/upipe0/p_datao_8" BEL "u2/u0/unit1/upipe0/p_datao_7" BEL
        "u2/u0/unit1/upipe0/p_datao_6" BEL "u2/u0/unit1/upipe0/p_datao_5" BEL
        "u2/u0/unit1/upipe0/p_datao_4" BEL "u2/u0/unit1/upipe0/p_datao_3" BEL
        "u2/u0/unit1/upipe0/p_datao_2" BEL "u2/u0/unit1/upipe0/p_datao_1" BEL
        "u2/u0/unit1/upipe0/p_datao_0" BEL "u1/u4/DBUS_HiZ_1" BEL
        "u1/u4/DBUS_HiZ_2" BEL "u1/u4/DBUS_HiZ_3" BEL "u1/u4/DBUS_HiZ_4" BEL
        "u1/u4/DBUS_HiZ_5" BEL "u1/u4/DBUS_HiZ_6" BEL "u1/u4/DBUS_HiZ_7" BEL
        "u1/u4/DBUS_HiZ_8" BEL "u1/u4/DBUS_HiZ_9" BEL "u1/u4/DBUS_HiZ_10" BEL
        "u1/u4/DBUS_HiZ_11" BEL "u1/u4/DBUS_HiZ_12" BEL "u1/u4/DBUS_HiZ_13"
        BEL "u1/u4/DBUS_HiZ_14" BEL "u1/u4/DBUS_HiZ_15" BEL
        "u1/u4/DBUS_HiZ_16" BEL "u1/u4/DBUS_HiZ_17" BEL "u1/u4/DBUS_HiZ_18"
        BEL "u1/u4/DBUS_HiZ_19" BEL "u1/u4/DBUS_HiZ_20" BEL
        "u1/u4/DBUS_HiZ_21" BEL "u1/u4/DBUS_HiZ_22" BEL "u1/u4/DBUS_HiZ_23"
        BEL "u1/u4/DBUS_HiZ_24" BEL "u1/u4/DBUS_HiZ_25" BEL
        "u1/u4/DBUS_HiZ_26" BEL "u1/u4/DBUS_HiZ_27" BEL "u1/u4/DBUS_HiZ_28"
        BEL "u1/u4/DBUS_HiZ_29" BEL "u1/u4/DBUS_HiZ_30" BEL
        "u1/u4/DBUS_HiZ_31" BEL "u1/u4/DBUS_HiZ_32" BEL "u1/u4/DBUS_HiZ_33"
        BEL "u1/u4/DBUS_HiZ_34" BEL "u1/u4/DBUS_HiZ_35" BEL
        "u1/u4/DBUS_HiZ_36" BEL "u1/u4/DBUS_HiZ_37" BEL "u1/u4/DBUS_HiZ_38"
        BEL "u1/u4/DBUS_HiZ_39" BEL "u1/u4/DBUS_HiZ_40" BEL
        "u1/u4/DBUS_HiZ_41" BEL "u1/u4/DBUS_HiZ_42" BEL "u1/u4/DBUS_HiZ_43"
        BEL "u1/u4/DBUS_HiZ_44" BEL "u1/u4/DBUS_HiZ_45" BEL
        "u1/u4/DBUS_HiZ_46" BEL "u1/u4/DBUS_HiZ_47" BEL "u1/u4/DBUS_HiZ_48"
        BEL "u1/u4/DBUS_HiZ_49" BEL "u1/u4/DBUS_HiZ_50" BEL
        "u1/u4/DBUS_HiZ_51" BEL "u1/u4/DBUS_HiZ_52" BEL "u1/u4/DBUS_HiZ_53"
        BEL "u1/u4/DBUS_HiZ_54" BEL "u1/u4/DBUS_HiZ_55" BEL
        "u1/u4/DBUS_HiZ_56" BEL "u1/u4/DBUS_HiZ_57" BEL "u1/u4/DBUS_HiZ_58"
        BEL "u1/u4/DBUS_HiZ_59" BEL "u1/u4/DBUS_HiZ_60" BEL
        "u1/u4/DBUS_HiZ_61" BEL "u1/u4/DBUS_HiZ_62" BEL "u1/u4/DBUS_HiZ_63"
        BEL "LED_ff_1_1";
PIN u2/u0/unit9/u2/uram0.B_pins<53> = BEL "u2/u0/unit9/u2/uram0.B" PINNAME
        CLKB;
PIN u2/u0/unit9/u2/uram1.B_pins<53> = BEL "u2/u0/unit9/u2/uram1.B" PINNAME
        CLKB;
PIN u2/u0/unit9/u2/uram2.B_pins<53> = BEL "u2/u0/unit9/u2/uram2.B" PINNAME
        CLKB;
PIN u2/u0/unit9/u2/uram3.B_pins<53> = BEL "u2/u0/unit9/u2/uram3.B" PINNAME
        CLKB;
PIN u2/u0/unit9/u1/uram0.B_pins<53> = BEL "u2/u0/unit9/u1/uram0.B" PINNAME
        CLKB;
PIN u2/u0/unit9/u1/uram1.B_pins<53> = BEL "u2/u0/unit9/u1/uram1.B" PINNAME
        CLKB;
PIN u2/u0/unit9/u1/uram2.B_pins<53> = BEL "u2/u0/unit9/u1/uram2.B" PINNAME
        CLKB;
PIN u2/u0/unit9/u1/uram3.B_pins<53> = BEL "u2/u0/unit9/u1/uram3.B" PINNAME
        CLKB;
PIN u2/u0/unit9/u0/uram0.B_pins<53> = BEL "u2/u0/unit9/u0/uram0.B" PINNAME
        CLKB;
PIN u2/u0/unit9/u0/uram1.B_pins<53> = BEL "u2/u0/unit9/u0/uram1.B" PINNAME
        CLKB;
PIN u2/u0/unit9/u0/uram2.B_pins<53> = BEL "u2/u0/unit9/u0/uram2.B" PINNAME
        CLKB;
PIN u2/u0/unit9/u0/uram3.B_pins<53> = BEL "u2/u0/unit9/u0/uram3.B" PINNAME
        CLKB;
TIMEGRP dcm0_dcm_fx = BEL "u2/u0/unit3/status_0" BEL "u2/u0/unit3/rund" BEL
        "u2/u0/unit3/irun" BEL "u2/u0/unit2/rst" BEL "u2/u0/unit2/run" PIN
        "u2/u0/unit9/u2/uram0.B_pins<53>" PIN
        "u2/u0/unit9/u2/uram1.B_pins<53>" PIN
        "u2/u0/unit9/u2/uram2.B_pins<53>" PIN
        "u2/u0/unit9/u2/uram3.B_pins<53>" PIN
        "u2/u0/unit9/u1/uram0.B_pins<53>" PIN
        "u2/u0/unit9/u1/uram1.B_pins<53>" PIN
        "u2/u0/unit9/u1/uram2.B_pins<53>" PIN
        "u2/u0/unit9/u1/uram3.B_pins<53>" PIN
        "u2/u0/unit9/u0/uram0.B_pins<53>" PIN
        "u2/u0/unit9/u0/uram1.B_pins<53>" PIN
        "u2/u0/unit9/u0/uram2.B_pins<53>" PIN
        "u2/u0/unit9/u0/uram3.B_pins<53>" BEL "u2/u0/unit2/mema_dc_17" BEL
        "u2/u0/unit2/mema_dc_16" BEL "u2/u0/unit2/mema_dc_15" BEL
        "u2/u0/unit2/mema_dc_14" BEL "u2/u0/unit2/mema_dc_13" BEL
        "u2/u0/unit2/mema_dc_12" BEL "u2/u0/unit2/mema_dc_11" BEL
        "u2/u0/unit2/mema_dc_10" BEL "u2/u0/unit2/mema_dc_9" BEL
        "u2/u0/unit2/mema_dc_8" BEL "u2/u0/unit2/mema_dc_7" BEL
        "u2/u0/unit2/mema_dc_6" BEL "u2/u0/unit2/mema_dc_5" BEL
        "u2/u0/unit2/mema_dc_4" BEL "u2/u0/unit2/mema_dc_3" BEL
        "u2/u0/unit2/mema_dc_2" BEL "u2/u0/unit2/mema_dc_1" BEL
        "u2/u0/unit2/mema_dc_0" BEL "u2/u0/unit1/upipe0/run_38" BEL
        "u2/u0/unit1/upipe0/run_39" BEL "u2/u0/unit1/upipe0/run_40" BEL
        "u2/u0/unit1/upipe0/x14/runr0" BEL "u2/u0/unit1/upipe0/x14/x0_0" BEL
        "u2/u0/unit1/upipe0/x14/x0_1" BEL "u2/u0/unit1/upipe0/x14/x0_2" BEL
        "u2/u0/unit1/upipe0/x14/x0_3" BEL "u2/u0/unit1/upipe0/x14/x0_4" BEL
        "u2/u0/unit1/upipe0/x14/x0_5" BEL "u2/u0/unit1/upipe0/x14/x0_6" BEL
        "u2/u0/unit1/upipe0/x14/x0_7" BEL "u2/u0/unit1/upipe0/x14/x0_8" BEL
        "u2/u0/unit1/upipe0/x14/x0_9" BEL "u2/u0/unit1/upipe0/x14/x0_10" BEL
        "u2/u0/unit1/upipe0/x14/x0_11" BEL "u2/u0/unit1/upipe0/x14/x0_12" BEL
        "u2/u0/unit1/upipe0/x14/x0_13" BEL "u2/u0/unit1/upipe0/x14/x0_14" BEL
        "u2/u0/unit1/upipe0/x14/x0_15" BEL "u2/u0/unit1/upipe0/x14/x0_16" BEL
        "u2/u0/unit1/upipe0/x14/x0_17" BEL "u2/u0/unit1/upipe0/x14/x0_18" BEL
        "u2/u0/unit1/upipe0/x14/x0_19" BEL "u2/u0/unit1/upipe0/x14/x0_20" BEL
        "u2/u0/unit1/upipe0/x14/x0_21" BEL "u2/u0/unit1/upipe0/x14/x0_22" BEL
        "u2/u0/unit1/upipe0/x14/x0_23" BEL "u2/u0/unit1/upipe0/x14/x0_24" BEL
        "u2/u0/unit1/upipe0/x14/x0_25" BEL "u2/u0/unit1/upipe0/x13/x0_0" BEL
        "u2/u0/unit1/upipe0/x13/x0_1" BEL "u2/u0/unit1/upipe0/x13/x0_2" BEL
        "u2/u0/unit1/upipe0/x13/x0_3" BEL "u2/u0/unit1/upipe0/x13/x0_4" BEL
        "u2/u0/unit1/upipe0/x13/x0_5" BEL "u2/u0/unit1/upipe0/x13/x0_6" BEL
        "u2/u0/unit1/upipe0/x13/x0_7" BEL "u2/u0/unit1/upipe0/x13/x0_8" BEL
        "u2/u0/unit1/upipe0/x13/x0_9" BEL "u2/u0/unit1/upipe0/x13/x0_10" BEL
        "u2/u0/unit1/upipe0/x13/x0_11" BEL "u2/u0/unit1/upipe0/x13/x0_12" BEL
        "u2/u0/unit1/upipe0/x13/x0_13" BEL "u2/u0/unit1/upipe0/x13/x0_14" BEL
        "u2/u0/unit1/upipe0/x13/x0_15" BEL "u2/u0/unit1/upipe0/x13/x0_16" BEL
        "u2/u0/unit1/upipe0/x13/x0_17" BEL "u2/u0/unit1/upipe0/x13/x0_18" BEL
        "u2/u0/unit1/upipe0/x13/x0_19" BEL "u2/u0/unit1/upipe0/x13/x0_20" BEL
        "u2/u0/unit1/upipe0/x13/x0_21" BEL "u2/u0/unit1/upipe0/x13/x0_22" BEL
        "u2/u0/unit1/upipe0/x13/x0_23" BEL "u2/u0/unit1/upipe0/x13/x0_24" BEL
        "u2/u0/unit1/upipe0/x13/x0_25" BEL "u2/u0/unit1/upipe0/x12/x0_0" BEL
        "u2/u0/unit1/upipe0/x12/x0_1" BEL "u2/u0/unit1/upipe0/x12/x0_2" BEL
        "u2/u0/unit1/upipe0/x12/x0_3" BEL "u2/u0/unit1/upipe0/x12/x0_4" BEL
        "u2/u0/unit1/upipe0/x12/x0_5" BEL "u2/u0/unit1/upipe0/x12/x0_6" BEL
        "u2/u0/unit1/upipe0/x12/x0_7" BEL "u2/u0/unit1/upipe0/x12/x0_8" BEL
        "u2/u0/unit1/upipe0/x12/x0_9" BEL "u2/u0/unit1/upipe0/x12/x0_10" BEL
        "u2/u0/unit1/upipe0/x12/x0_11" BEL "u2/u0/unit1/upipe0/x12/x0_12" BEL
        "u2/u0/unit1/upipe0/x12/x0_13" BEL "u2/u0/unit1/upipe0/x12/x0_14" BEL
        "u2/u0/unit1/upipe0/x12/x0_15" BEL "u2/u0/unit1/upipe0/x12/x0_16" BEL
        "u2/u0/unit1/upipe0/x12/x0_17" BEL "u2/u0/unit1/upipe0/x12/x0_18" BEL
        "u2/u0/unit1/upipe0/x12/x0_19" BEL "u2/u0/unit1/upipe0/x12/x0_20" BEL
        "u2/u0/unit1/upipe0/x12/x0_21" BEL "u2/u0/unit1/upipe0/x12/x0_22" BEL
        "u2/u0/unit1/upipe0/x12/x0_23" BEL "u2/u0/unit1/upipe0/x12/x0_24" BEL
        "u2/u0/unit1/upipe0/x12/x0_25" BEL "u2/u0/unit1/upipe0/x11/x0_0" BEL
        "u2/u0/unit1/upipe0/x11/x0_1" BEL "u2/u0/unit1/upipe0/x11/x0_2" BEL
        "u2/u0/unit1/upipe0/x11/x0_3" BEL "u2/u0/unit1/upipe0/x11/x0_4" BEL
        "u2/u0/unit1/upipe0/x11/x0_5" BEL "u2/u0/unit1/upipe0/x11/x0_6" BEL
        "u2/u0/unit1/upipe0/x11/x0_7" BEL "u2/u0/unit1/upipe0/x11/x0_8" BEL
        "u2/u0/unit1/upipe0/x11/x0_9" BEL "u2/u0/unit1/upipe0/x11/x0_10" BEL
        "u2/u0/unit1/upipe0/x11/x0_11" BEL "u2/u0/unit1/upipe0/x11/x0_12" BEL
        "u2/u0/unit1/upipe0/x11/x0_13" BEL "u2/u0/unit1/upipe0/x11/x0_14" BEL
        "u2/u0/unit1/upipe0/x11/x0_15" BEL "u2/u0/unit1/upipe0/x11/x0_16" BEL
        "u2/u0/unit1/upipe0/x11/x0_17" BEL "u2/u0/unit1/upipe0/x11/x0_18" BEL
        "u2/u0/unit1/upipe0/x11/x0_19" BEL "u2/u0/unit1/upipe0/x11/x0_20" BEL
        "u2/u0/unit1/upipe0/x11/x0_21" BEL "u2/u0/unit1/upipe0/x11/x0_22" BEL
        "u2/u0/unit1/upipe0/x11/x0_23" BEL "u2/u0/unit1/upipe0/x11/x0_24" BEL
        "u2/u0/unit1/upipe0/x11/x0_25" BEL "u2/u0/unit1/upipe0/x10/x0_0" BEL
        "u2/u0/unit1/upipe0/x10/x0_1" BEL "u2/u0/unit1/upipe0/x10/x0_2" BEL
        "u2/u0/unit1/upipe0/x10/x0_3" BEL "u2/u0/unit1/upipe0/x10/x0_4" BEL
        "u2/u0/unit1/upipe0/x10/x0_5" BEL "u2/u0/unit1/upipe0/x10/x0_6" BEL
        "u2/u0/unit1/upipe0/x10/x0_7" BEL "u2/u0/unit1/upipe0/x10/x0_8" BEL
        "u2/u0/unit1/upipe0/x10/x0_9" BEL "u2/u0/unit1/upipe0/x10/x0_10" BEL
        "u2/u0/unit1/upipe0/x10/x0_11" BEL "u2/u0/unit1/upipe0/x10/x0_12" BEL
        "u2/u0/unit1/upipe0/x10/x0_13" BEL "u2/u0/unit1/upipe0/x10/x0_14" BEL
        "u2/u0/unit1/upipe0/x10/x0_15" BEL "u2/u0/unit1/upipe0/x10/x0_16" BEL
        "u2/u0/unit1/upipe0/x10/x0_17" BEL "u2/u0/unit1/upipe0/x10/x0_18" BEL
        "u2/u0/unit1/upipe0/x10/x0_19" BEL "u2/u0/unit1/upipe0/x10/x0_20" BEL
        "u2/u0/unit1/upipe0/x10/x0_21" BEL "u2/u0/unit1/upipe0/x10/x0_22" BEL
        "u2/u0/unit1/upipe0/x10/x0_23" BEL "u2/u0/unit1/upipe0/x10/x0_24" BEL
        "u2/u0/unit1/upipe0/x10/x0_25" BEL "u2/u0/unit1/upipe0/x09/x0_0" BEL
        "u2/u0/unit1/upipe0/x09/x0_1" BEL "u2/u0/unit1/upipe0/x09/x0_2" BEL
        "u2/u0/unit1/upipe0/x09/x0_3" BEL "u2/u0/unit1/upipe0/x09/x0_4" BEL
        "u2/u0/unit1/upipe0/x09/x0_5" BEL "u2/u0/unit1/upipe0/x09/x0_6" BEL
        "u2/u0/unit1/upipe0/x09/x0_7" BEL "u2/u0/unit1/upipe0/x09/x0_8" BEL
        "u2/u0/unit1/upipe0/x09/x0_9" BEL "u2/u0/unit1/upipe0/x09/x0_10" BEL
        "u2/u0/unit1/upipe0/x09/x0_11" BEL "u2/u0/unit1/upipe0/x09/x0_12" BEL
        "u2/u0/unit1/upipe0/x09/x0_13" BEL "u2/u0/unit1/upipe0/x09/x0_14" BEL
        "u2/u0/unit1/upipe0/x09/x0_15" BEL "u2/u0/unit1/upipe0/x09/x0_16" BEL
        "u2/u0/unit1/upipe0/x09/x0_17" BEL "u2/u0/unit1/upipe0/x09/x0_18" BEL
        "u2/u0/unit1/upipe0/x09/x0_19" BEL "u2/u0/unit1/upipe0/x09/x0_20" BEL
        "u2/u0/unit1/upipe0/x09/x0_21" BEL "u2/u0/unit1/upipe0/x09/x0_22" BEL
        "u2/u0/unit1/upipe0/x09/x0_23" BEL "u2/u0/unit1/upipe0/x09/x0_24" BEL
        "u2/u0/unit1/upipe0/x09/x0_25" BEL "u2/u0/unit1/upipe0/x08/x0_0" BEL
        "u2/u0/unit1/upipe0/x08/x0_1" BEL "u2/u0/unit1/upipe0/x08/x0_2" BEL
        "u2/u0/unit1/upipe0/x08/x0_3" BEL "u2/u0/unit1/upipe0/x08/x0_4" BEL
        "u2/u0/unit1/upipe0/x08/x0_5" BEL "u2/u0/unit1/upipe0/x08/x0_6" BEL
        "u2/u0/unit1/upipe0/x08/x0_7" BEL "u2/u0/unit1/upipe0/x08/x0_8" BEL
        "u2/u0/unit1/upipe0/x08/x0_9" BEL "u2/u0/unit1/upipe0/x08/x0_10" BEL
        "u2/u0/unit1/upipe0/x08/x0_11" BEL "u2/u0/unit1/upipe0/x08/x0_12" BEL
        "u2/u0/unit1/upipe0/x08/x0_13" BEL "u2/u0/unit1/upipe0/x08/x0_14" BEL
        "u2/u0/unit1/upipe0/x08/x0_15" BEL "u2/u0/unit1/upipe0/x08/x0_16" BEL
        "u2/u0/unit1/upipe0/x08/x0_17" BEL "u2/u0/unit1/upipe0/x08/x0_18" BEL
        "u2/u0/unit1/upipe0/x08/x0_19" BEL "u2/u0/unit1/upipe0/x08/x0_20" BEL
        "u2/u0/unit1/upipe0/x08/x0_21" BEL "u2/u0/unit1/upipe0/x08/x0_22" BEL
        "u2/u0/unit1/upipe0/x08/x0_23" BEL "u2/u0/unit1/upipe0/x08/x0_24" BEL
        "u2/u0/unit1/upipe0/x08/x0_25" BEL
        "u2/u0/unit1/upipe0/Mshreg_run_15/SRL16E" BEL
        "u2/u0/unit1/upipe0/run_15" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_0/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_0" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_1/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_1" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_2/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_2" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_3/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_3" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_4/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_4" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_5/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_5" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_6/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_6" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_7/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_7" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_8/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_8" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_9/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_9" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_10/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_10" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_11/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_11" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_14/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_14" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_12/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_12" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_13/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_13" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_15/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_15" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_16/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_16" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_17/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_17" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_18/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_18" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_19/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_19" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_20/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_20" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_21/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_21" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_22/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_22" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_23/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_23" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_24/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_24" BEL
        "u2/u0/unit1/upipe0/Mshreg_mjd_25/SRL16E" BEL
        "u2/u0/unit1/upipe0/mjd_25" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_0/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_0" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_1/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_1" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_2/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_2" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_5/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_5" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_3/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_3" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_4/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_4" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_6/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_6" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_7/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_7" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_8/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_8" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_9/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_9" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_10/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_10" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_11/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_11" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_12/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_12" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_13/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_13" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_14/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_14" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_15/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_15" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_16/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_16" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_17/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_17" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_18/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_18" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_19/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_19" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_22/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_22" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_20/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_20" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_21/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_21" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_23/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_23" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_24/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_24" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_2d_25/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_2d_25" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_0/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_0" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_1/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_1" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_2/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_2" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_3/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_3" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_4/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_4" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_5/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_5" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_6/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_6" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_7/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_7" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_8/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_8" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_9/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_9" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_10/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_10" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_13/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_13" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_11/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_11" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_12/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_12" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_14/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_14" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_15/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_15" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_16/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_16" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_17/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_17" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_18/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_18" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_19/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_19" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_20/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_20" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_21/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_21" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_22/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_22" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_23/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_23" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_24/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_24" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_1d_25/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_1d_25" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_0/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_0" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_1/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_1" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_4/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_4" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_2/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_2" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_3/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_3" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_5/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_5" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_6/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_6" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_7/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_7" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_8/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_8" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_9/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_9" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_10/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_10" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_11/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_11" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_12/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_12" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_13/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_13" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_14/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_14" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_15/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_15" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_16/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_16" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_17/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_17" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_18/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_18" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_21/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_21" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_19/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_19" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_20/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_20" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_22/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_22" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_23/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_23" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_24/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_24" BEL
        "u2/u0/unit1/upipe0/Mshreg_vj_0d_25/SRL16E" BEL
        "u2/u0/unit1/upipe0/vj_0d_25" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_0/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_0" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_1/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_1" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_2/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_2" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_3/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_3" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_4/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_4" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_5/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_5" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_6/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_6" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_7/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_7" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_8/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_8" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_9/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_9" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_12/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_12" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_10/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_10" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_11/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_11" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_13/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_13" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_14/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_14" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_15/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_15" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_16/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_16" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_17/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_17" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_18/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_18" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_19/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_19" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_20/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_20" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_21/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_21" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_22/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_22" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_23/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_23" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_24/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_24" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_2d_25/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_2d_25" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_0/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_0" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_3/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_3" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_1/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_1" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_2/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_2" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_4/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_4" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_5/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_5" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_6/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_6" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_7/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_7" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_8/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_8" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_9/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_9" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_10/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_10" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_11/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_11" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_12/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_12" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_13/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_13" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_14/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_14" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_15/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_15" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_16/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_16" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_17/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_17" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_20/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_20" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_18/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_18" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_19/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_19" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_21/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_21" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_22/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_22" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_23/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_23" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_24/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_24" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_1d_25/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_1d_25" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_0/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_0" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_1/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_1" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_2/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_2" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_3/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_3" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_4/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_4" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_5/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_5" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_6/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_6" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_7/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_7" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_8/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_8" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_11/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_11" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_9/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_9" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_10/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_10" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_12/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_12" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_13/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_13" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_14/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_14" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_15/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_15" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_16/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_16" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_17/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_17" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_18/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_18" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_19/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_19" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_20/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_20" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_21/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_21" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_22/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_22" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_23/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_23" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_24/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_24" BEL
        "u2/u0/unit1/upipe0/Mshreg_xj_0d_25/SRL16E" BEL
        "u2/u0/unit1/upipe0/xj_0d_25" BEL
        "u2/u0/unit1/upipe0/Mshreg_run_37_0/SRLC16E" BEL
        "u2/u0/unit1/upipe0/run<37>.SLICEM_GMC15_BLACKBOX" BEL
        "u2/u0/unit1/upipe0/Mshreg_run_37_1/SRL16E" BEL
        "u2/u0/unit1/upipe0/run_37" BEL "u2/u0/unit1/upipe0/p_runret";
PIN dcm0/dcm0_pins<20> = BEL "dcm0/dcm0" PINNAME CLKIN;
TIMEGRP CK66 = PIN "dcm0/dcm0_pins<20>";
TS_CK66 = PERIOD TIMEGRP "CK66" 15 ns HIGH 50%;
TS_dcm0_dcm_out = PERIOD TIMEGRP "dcm0_dcm_out" TS_CK66 HIGH 50%;
TS_dcm0_dcm_fx = PERIOD TIMEGRP "dcm0_dcm_fx" TS_CK66 HIGH 50%;
SCHEMATIC END;
